// Fonts
$serif-fonts: "Crimson Text", "Noto Serif SC", "Microsoft YaHei UI", serif;
$sans-fonts: "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif;
$narrow-fonts: "Oswald", "Noto Serif SC", "Microsoft YaHei UI", serif;
$code-fonts: "IBM Plex Mono", "Noto Serif SC", monospace;
