:root {
  --font-sans:
    "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
  --font-mono:
    "IBM Plex Mono", "Noto Serif SC", "Microsoft YaHei UI", monospace !important;
  --font-serif:
    "Crimson Text", "Shippori Mincho", "Noto Serif SC", "Microsoft YaHei UI",
    serif !important;
}

// reddit
body[data-domain="www.reddit.com"] {
  font-family: var(--font-sans);

  pre,
  code {
    font-family: var(--font-mono);
  }

  .text-neutral-content-strong {
    font-family: var(--font-serif);
    font-weight: bold;
  }
}
