@import url("https://cdn.honglin.ac.cn/fonts/g/css?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+SC:wght@200..900&family=Outfit:wght@100..900&display=swap");

:root {
  --font-family-sans: Outfit, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Serif SC", sans-serif !important;
  --font-family-serif: "Crimson Text", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, "Noto Serif SC", serif !important;
  --font-family-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", "Noto Serif SC",
    monospace !important;

  --cos-font-family: var(--font-family-sans);
}

#s-top-left .c-font-normal,
.wrapper_new,
#container,
#container.sam_newgrid,
.new-pmd.c-container,
.cosc-title-slot,
.cos-button,
#container.sam_newgrid td,
#container.sam_newgrid th,
.cos-font-medium,
.cosd-markdown .marklang .marklang-paragraph,
.cosd-question-guide-title,
.cosd-question-guide-title-icon,
#right-tool *,
#left-tool *,
.panel-list_8jHmm * {
  font-family: var(--font-family-sans);
}

body,
button,
input,
select,
textarea,
em,
.c-font-normal,
.c-font-medium,
#chat-input-main textarea,
#chat-input-footer button,
#container .c-title,
.cos-text-body,
.cos-text-body-lg,
.new-pmd .c-font-medium,
.pc-rs-upgrade_3SRoo .rs-link_2DE3Q {
  font-family: var(--font-family-serif);
}

.s-bottom-layer-content,
.cosc-source-text,
#page.page-sample,
.cosc-source-caption,
.cosc-source-text {
  font-family: var(--font-family-mono);
}
