@import url("https://cdn.honglin.ac.cn/fonts/g/css?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+SC:wght@200..900&family=Outfit:wght@100..900&display=swap");

:root {
  --font-family-sans: Outfit, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Serif SC", sans-serif !important;
  --font-family-serif: "Crimson Text", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, "Noto Serif SC", serif !important;
  --font-family-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", "Noto Serif SC",
    monospace !important;
}

body,
input,
button,
[data-snc] .notranslate span,
[data-snc] h3 {
  font-family: var(--font-family-sans);
}

.gb_H .gb_Z,
[data-snc] [data-snf] span,
[data-snc] [data-sncf="1"] {
  font-family: var(--font-family-serif);
}

#gws-output-pages-elements-homepage_additional_languages__als {
  font-family: var(--font-family-mono);
}
