:root {
  --body-font:
    "Outfit", "Noto Serif SC", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body {
  font-family: "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
}

#est_switch .est_common,
.tob_list_current .tob_title,
.text .heading,
.viewsInfo {
  font-family: "Crimson Text", "Noto Serif SC", "Microsoft YaHei UI", serif !important;
}

.header .scope,
#tobPrompt.new .tob_head > span,
#tobPrompt.new .tob_head .tob_head_title,
.hp_text,
.text .attribution-text,
#heading.heading {
  font-family: "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
}

.tob_list_current .tob_index,
.tob_list_current .tob_index_red {
  font-family: "Oswald", "Noto Serif SC", "Microsoft YaHei UI", serif !important;
}
