:root {
  --body-font:
    "Crimson Text", "Noto Serif SC", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
}

body[data-domain="www.bing.com"],
body[data-domain="cn.bing.com"],
body[data-domain="www.msn.cn"] {
  font-family: "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
}
body[data-domain="www.bing.com"] #est_switch .est_common,
body[data-domain="www.bing.com"] .tob_list_current .tob_title,
body[data-domain="www.bing.com"] .text .heading,
body[data-domain="www.bing.com"] .viewsInfo,
body[data-domain="cn.bing.com"] #est_switch .est_common,
body[data-domain="cn.bing.com"] .tob_list_current .tob_title,
body[data-domain="cn.bing.com"] .text .heading,
body[data-domain="cn.bing.com"] .viewsInfo,
body[data-domain="www.msn.cn"] #est_switch .est_common,
body[data-domain="www.msn.cn"] .tob_list_current .tob_title,
body[data-domain="www.msn.cn"] .text .heading,
body[data-domain="www.msn.cn"] .viewsInfo {
  font-family: "Crimson Text", "Noto Serif SC", "Microsoft YaHei UI", serif !important;
}
body[data-domain="www.bing.com"] .header .scope,
body[data-domain="www.bing.com"] #tobPrompt.new .tob_head > span,
body[data-domain="www.bing.com"] #tobPrompt.new .tob_head .tob_head_title,
body[data-domain="www.bing.com"] .hp_text,
body[data-domain="www.bing.com"] .text .attribution-text,
body[data-domain="www.bing.com"] #heading.heading,
body[data-domain="cn.bing.com"] .header .scope,
body[data-domain="cn.bing.com"] #tobPrompt.new .tob_head > span,
body[data-domain="cn.bing.com"] #tobPrompt.new .tob_head .tob_head_title,
body[data-domain="cn.bing.com"] .hp_text,
body[data-domain="cn.bing.com"] .text .attribution-text,
body[data-domain="cn.bing.com"] #heading.heading,
body[data-domain="www.msn.cn"] .header .scope,
body[data-domain="www.msn.cn"] #tobPrompt.new .tob_head > span,
body[data-domain="www.msn.cn"] #tobPrompt.new .tob_head .tob_head_title,
body[data-domain="www.msn.cn"] .hp_text,
body[data-domain="www.msn.cn"] .text .attribution-text,
body[data-domain="www.msn.cn"] #heading.heading {
  font-family: "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
}
body[data-domain="www.bing.com"] .tob_list_current .tob_index,
body[data-domain="www.bing.com"] .tob_list_current .tob_index_red,
body[data-domain="cn.bing.com"] .tob_list_current .tob_index,
body[data-domain="cn.bing.com"] .tob_list_current .tob_index_red,
body[data-domain="www.msn.cn"] .tob_list_current .tob_index,
body[data-domain="www.msn.cn"] .tob_list_current .tob_index_red {
  font-family: "Oswald", "Noto Serif SC", "Microsoft YaHei UI", serif !important;
}
