:root,
:host {
  --default-font-family:
    "Outfit", "Noto Serif SC", "Microsoft YaHei UI", "ui-sans-serif",
    "-apple-system", "system-ui", "Segoe UI", "Helvetica", "Apple Color Emoji",
    "Arial", "sans-serif", "Segoe UI Emoji", "Segoe UI Symbol";
  --default-mono-font-family:
    "IBM Plex Mono", "Noto Serif SC", "Microsoft YaHei UI", "ui-monospace",
    "SFMono-Regular", "SF Mono", "Menlo", "Consolas", "Liberation Mono",
    "monospace";
}
