:root {
  --font-sans: "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif;
  --font-mono:
    "IBM Plex Mono", "Noto Serif SC", "Microsoft YaHei UI", monospace;
  --font-serif: "Crimson Text", "Noto Serif SC", "Microsoft YaHei UI", serif;
}

body,
html {
  font-family: var(--font-sans) !important;
}

code,
pre {
  font-family: var(--font-mono) !important;
}
