:root {
  --s-font-family:
    "Crimson Text", "Shippori Mincho", "Noto Serif SC", Inter, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "SF Pro SC", "SF Pro Display",
    "SF Pro Icons", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: "Crimson Text", "Noto Serif SC", "Microsoft YaHei UI", serif !important;
}

pre,
code {
  font-family: "IBM Plex Mono", "Noto Serif SC", "Microsoft YaHei UI", monospace !important;
}
