body {
  font-family: "Outfit", "LXGW Bright TC", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
}
body .book-content {
  font-family: "Crimson Text", "LXGW Bright TC", "Noto Serif SC", "Microsoft YaHei UI", serif !important;
}

:root .default {
  --body-font-family:
    "Outfit", "LXGW Bright TC", "Noto Serif SC", "Microsoft YaHei UI",
    sans-serif !important;
}
