:root {
  --font-sans:
    "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
  --font-mono: "IBM Plex Mono", "Noto Serif SC", monospace !important;
}

body[data-domain="www.reddit.com"] {
  font-family: "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
}
