:root {
  --font-sans: "Lato", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
  --font-mono: "IBM Plex Mono", "Noto Serif SC", monospace !important;
}

body[data-domain="www.reddit.com"] {
  font-family: "Lato", "Noto Serif SC", "Gill Sans MT", "Microsoft YaHei UI", sans-serif !important;
}
