html {
  --zFontSansSerif: "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif;
}

body,
.ContentItem-title,
.AuthorInfo-content,
.RichContent,
.CommentContent {
  font-family: "Crimson Text", "Noto Serif SC", "Microsoft YaHei UI", serif !important;
}

button {
  font-family: "Outfit", "Noto Serif SC", "Microsoft YaHei UI", sans-serif !important;
}

pre,
code,
.prompt {
  font-family: "IBM Plex Mono", "Noto Serif SC", "Microsoft YaHei UI", monospace !important;
}
